body{
    text-align: center;
    background-color: rgb(7, 128, 241);
}
h1{
    color:white;

}
h2{
    color:white;
    
}
#img1{
    width:500px;
    height:500px;
    
}
h3{
    color:white;
    
}